{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <div>
                      <h1>
                        Welcome To <br>
                        <span>
                          JOHN LANDER'S FOUNDATION
                        </span>
                      </h1>
                      <p>
                        Knowledge, Innovation, and Success in Energy...
                      </p>
                      <div class="btn-box">
                        <a href="mailto:josephgbarabe33@gmail.com" class="btn-1">
                          Contact Us
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <div>
                      <h1>
                        Welcome To <br>
                        <span>
                          JOHN LANDER'S FOUNDATION
                        </span>
                      </h1>
                      <p>
                        Empowering Minds, Fueling Futures in Oil & Gas...
                      </p>
                      <div class="btn-box">
                        <a href="mailto:josephgbarabe33@gmail.com" class="btn-1">
                          Contact Us
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="custom_carousel-control">
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              <p>Landers Foundation is dedicated to shaping the future of the oil and gas 
                industry by providing top-tier education and resources for aspiring petroleum 
                engineers. Our platform offers in-depth knowledge, industry insights, 
                and practical skills to help individuals succeed in this dynamic field.</p>
              <br>
              <p>We cover essential topics such as well logging, reservoir engineering, drilling 
                techniques, and production optimization. Our goal is to bridge the gap between 
                theoretical learning and real-world application, ensuring that our students are 
                fully prepared for successful careers.Through expert-led tutorials, hands-on 
                training, and industry-relevant case studies, Landers Foundation equips professionals 
                with the tools needed to excel in the petroleum sector. Whether you are a student, 
                recent graduate, or industry professional looking to expand your expertise, 
                we provide the guidance and support necessary for career growth.</p>
              <br>
              <p>Join us at Landers Foundation and take the first step toward mastering the 
                art and science of petroleum engineering.</p>
            </p>
            <a href="">
              Get Started
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'images/about-img.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->
  <div class="body_bg layout_padding">

    <!-- service section -->

    <section class="service_section ">
      <div class="container">
        <div class="heading_container">
          <h2>
            At Your Service
          </h2>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/s-1.png' %}" alt="">
              </div>
              <h4>
                Written with Love
              </h4>
              <p>
                At Landers Foundation, we offer a one-year free lecture program for all 
                students, providing in-depth training in petroleum engineering. Our 
                comprehensive curriculum covers key industry concepts, ensuring practical 
                and theoretical mastery. Additionally, students gain exclusive access to 
                petroleum industries across Nigeria, offering valuable networking and career 
                opportunities. Join us to build a strong foundation and unlock endless 
                possibilities in the oil and gas sector.
              </p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box align-items-end align-items-md-start text-right text-md-left">
              <div class="img-box">
                <img src="{% static 'images/s-2.png' %}" alt="">
              </div>
              <h4>
                Fast Turnaround
              </h4>
              <p>
                Landers Foundation’s one-year free lecture program transforms aspiring petroleum 
                engineers by exposing them to real-world industry challenges. With hands-on 
                training and exclusive access to Nigerian petroleum industries, students gain 
                practical skills and insights, preparing them for successful careers in oil and 
                gas.
              </p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/s-3.png' %}" alt="">
              </div>
              <h4>
                Up to Date
              </h4>
              <p>
                Landers Foundation’s one-year free lecture program transforms aspiring petroleum 
                engineers using up-to-date materials, including videos with practical examples. 
                With hands-on training and exclusive access to Nigerian petroleum industries, 
                students gain real-world skills, preparing them for successful careers in the oil 
                and gas sector.
              </p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box align-items-end align-items-md-start text-right text-md-left">
              <div class="img-box">
                <img src="{% static 'images/s-4.png' %}" alt="">
              </div>
              <h4>
                Premium Content
              </h4>
              <p>
                Landers Foundation offers premium content for aspiring petroleum 
                engineers, providing advanced industry insights and expert 
                strategies. As a special offer, the first 500 subscribers receive 
                a 20% bonus on their first deposit, ensuring access to top-tier 
                learning resources at a discounted rate. Elevate your skills and 
                succeed in oil and gas!
              </p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end service section -->

    <!-- quote section -->

    <section class="quote_section layout_padding">
      <div class="container">
        <div class="box">
          <div class="detail-box">
            <h3>
              Get Your Quote Today!
            </h3>
            <p>
              Bridging Learning and Reality for a Brighter Energy Future.
            </p>
          </div>
          <div class="btn-box">
            <a href="">
              Get A Quote
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- end quote section -->


    <!-- contact section -->

    <section class="contact_section">
      <div class="container">
        <div class="heading_container">
          <h2>
            Let's Get In Touch!
          </h2>
        </div>
      </div>
      <div class="container contact_bg layout_padding2-top">
        <div class="row">
          <div class="col-md-6">
            <div class="contact_form ">
              <form action="">
                <input type="text" placeholder="Name ">
                <input type="email" placeholder="Email">
                <input type="text" placeholder="Message" class="message_input">
                <button>
                  Send
                </button>
              </form>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-box">
              <img src="{% static 'images/contact-img.jpg' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end contact section -->

    <!-- client section -->

    <section class="client_section layout_padding-top">
      <div class="d-flex justify-content-center">
        <div class="heading_container">
          <h2>
            Testimonial
          </h2>
        </div>
      </div>
      <div class="container layout_padding2">
        <div id="carouselExample2Indicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExample2Indicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExample2Indicators" data-slide-to="1"></li>
            <li data-target="#carouselExample2Indicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item ">
              <div class="client_container">
                <div class="client-id">
                  <div class="img-box">
                    <img src="{% static 'images/client.jpg' %}" alt="">
                  </div>
                  <div class="client_name">
                    <div>
                      <h3>
                        Johndue
                      </h3>
                      <p>
                        Farm & CO
                      </p>
                    </div>
                  </div>
                </div>
                <div class="client_detail">
                  <div class="client_text">
                    <blockquote>
                      <p>
                        
                      </p>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item active">
              <div class="client_container">
                <div class="client-id">
                  <div class="img-box">
                    <img src="{% static 'images/client.jpg' %}" alt="">
                  </div>
                  <div class="client_name">
                    <div>
                      <h3>
                        Johndue
                      </h3>
                      <p>
                        Farm & CO
                      </p>
                    </div>
                  </div>
                </div>
                <div class="client_detail">
                  <div class="client_text">
                    <blockquote>
                      <p>
                        
                      </p>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="client_container">
                <div class="client-id">
                  <div class="img-box">
                    <img src="{% static 'images/client.jpg' %}" alt="">
                  </div>
                  <div class="client_name">
                    <div>
                      <h3>
                        Johndue
                      </h3>
                      <p>
                        Farm & CO
                      </p>
                    </div>
                  </div>
                </div>
                <div class="client_detail">
                  <div class="client_text">
                    <blockquote>
                      <p>
                        
                      </p>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>


    <!-- end client section -->

  </div>
  <!-- info section -->

  <section class="info_section layout_padding">
    <div class="footer_contact">
      <div class="heading_container">
        <h2>
          Contact Us
        </h2>
      </div>
      <div class="box">
        <a href="geo:37.7749,-122.4194" class="img-box">
          <img src="{% static 'images/location.png' %}" alt="" class="img-1">
          <img src="{% static 'images/location-o.png' %}" alt="" class="img-2">
        </a>
        <a href="tel:+2347068848255" class="img-box">
          <img src="{% static 'images/call.png' %}" alt="" class="img-1">
          <img src="{% static 'images/call-o.png' %}" alt="" class="img-2">
        </a>
        <a href="mailto:josephgbarabe33@gmail.com" class="img-box">
          <img src="{% static 'images/envelope.png' %}" alt="" class="img-1">
          <img src="{% static 'images/envelope-o.png' %}" alt="" class="img-2">
        </a>
      </div>
    </div>

  </section>

  {% endblock %}